<a href="https://colab.research.google.com/github/Aldo-CL/Challenge-Amigo-Secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
nombre = "Maria"
edad = 17
print(f'Mi nombre es {nombre} y tengo {edad} años')

Mi nombre es Maria y tengo 17 años

In [ ]:
nombre_alumno = 'Penelope Camacho'
print('Nombre del alumno: %s'%(nombre_alumno))

Nombre del alumno: Penelope Camacho

In [ ]:
nombre_alumno = 'Penelope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su promedio es %f'%(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penelope Camacho, tiene 11 años y su promedio es 9.950000

In [ ]:
nombre_alumno = 'Penelope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su promedio es %.2f'%(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penelope Camacho, tiene 11 años y su promedio es 9.95

In [ ]:
x = True
print('El valor de x es %s'%str(x))

El valor de x es True

In [ ]:
nombre_alumno = 'Penelope Camacho'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su promedio es {}'.format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penelope Camacho, tiene 15 años y su promedio es 9.95

In [ ]:
print('Estudiar es muy aburrido,\ncomo lo dice Homero Simpson,\nAburridoooo!!!')

Estudiar es muy aburrido,
como lo dice Homero Simpson,
Aburridoooo!!!

In [ ]:
print('Cantidad\tcalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
print('rutadel archivo: C:\\archivos\\documentos.csv')

rutadel archivo: C:\archivos\documentos.csv

In [ ]:
print("Dijo:\"Hola Mundo\"")

Dijo:"Hola Mundo"

In [ ]:
print('Dijo:"Hola Mundo"')

Dijo:"Hola Mundo"

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [ ]:
nombre=input('Ingrese su nombre: ')
print(f'Hola {nombre}')

Ingrese su nombre: Aldo
Hola Aldo

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [ ]:
nombre=input('Ingrese su nombre: ')
edad=input('Ingrese su edad: ')
print(f'Hola {nombre}, tienes {edad} años')

Ingrese su nombre: Aldo
Ingrese su edad: 48
Hola Aldo, tienes 48 años

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
nombre=input('Ingrese su nombre: ')
edad=input('Ingrese su edad: ')
altura=input('Ingrese su altura: ')
print(f'Hola {nombre}, tienes {edad} años y mides {altura} metros')

Ingrese su nombre: Aldo
Ingrese su edad: 48
Ingrese su altura: 1,67
Hola Aldo, tienes 48 años y mides 1,67 metros

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [ ]:
numero1=int(input('Ingrese el primer numero: '))
numero2=int(input('Ingrese el segundo numero: '))
suma=numero1+numero2
print(f'La suma de {numero1} y {numero2} es {suma}')

Ingrese el primer numero: 1
Ingrese el segundo numero: 2
La suma de 1 y 2 es 3

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [ ]:
numero1=int(input('Ingrese el primer numero: '))
numero2=int(input('Ingrese el segundo numero: '))
numero3=int(input('Ingrese el tercer numero: '))
suma=numero1+numero2+numero3
print(suma)

Ingrese el primer numero: 1
Ingrese el segundo numero: 2
Ingrese el tercer numero: 3
6

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [ ]:
numero1=int(input('Ingrese el primer numero: '))
numero2=int(input('Ingrese el segundo numero: '))
resta=numero1-numero2
print(resta)

Ingrese el primer numero: 2
Ingrese el segundo numero: 1
1

In [ ]:
#7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.
numero1=int(input('Ingrese el primer numero: '))
numero2=int(input('Ingrese el segundo numero: '))
multiplicacion=numero1*numero2
print(multiplicacion)

Ingrese el primer numero: 2
Ingrese el segundo numero: 3
6

In [ ]:
#8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numero1=int(input('Ingrese el numerador: '))
numero2=int(input('Ingrese el denominador(no puede ser cero):'))
division=numero1/numero2
print(division)

Ingrese el numerador: 1
Ingrese el denominador(no puede ser cero):2
0.5

In [ ]:
#9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores
numero1=int(input('Ingrese el primer numero: '))
numero2=int(input('Ingrese el segundo numero: '))
potencia=numero1**numero2
print(potencia)

Ingrese el primer numero: 3
Ingrese el segundo numero: 4
81

In [ ]:
#10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numerador=int(input('Ingrese el numerador: '))
denominador=int(input('Ingrese el denominador(no puede ser cero):'))
division_entera=numerador//denominador
print(division_entera)

Ingrese el numerador: 4
Ingrese el denominador(no puede ser cero):3
1

In [ ]:
#11
numerador=int(input('Ingrese el numerador: '))
denominador=int(input('Ingrese el denominador(no puede ser cero):'))
resto=numerador%denominador
print(resto)

Ingrese el numerador: 3
Ingrese el denominador(no puede ser cero):2
1

In [ ]:
nota1=float(input('Ingrese la nota 1: '))
nota2=float(input('Ingrese la nota 2: '))
nota3=float(input('Ingrese la nota 3: '))
promedio=(nota1+nota2+nota3)/3
print(promedio)

Ingrese la nota 1: 7
Ingrese la nota 2: 6
Ingrese la nota 3: 6.3
6.433333333333334

In [ ]:
promedio_ponderado=((5*1+12*2+20*3+15*4)/(1+2+3+4))
print(f'el promedio poderado es {promedio_ponderado}')

el promedio poderado es 14.9

In [ ]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

Media 14.9.

In [ ]:
frase='Hola Mundo'
print(frase)

Hola Mundo

In [ ]:
frase=input('Ingrese una frase: ')
frase_M = frase.upper()
print(frase_M)

Ingrese una frase: Chapa la pachala
CHAPA LA PACHALA

In [ ]:
frase=input('Ingrese una frase: ')
frase_m = frase.lower()
print(frase_m)

Ingrese una frase: Chiporro
chiporro

In [ ]:
frase=('      paraspá')
print(frase)
frase_s = frase.strip()
print(frase_s)

      paraspá
paraspá

In [ ]:
frase=input('Ingrese una frase: ')
print(frase)
frase_s = frase.strip()
print(frase_s)

Ingrese una frase:        cracolito
       cracolito
cracolito

In [ ]:
frase=input('Ingrese una frase: ')
print(frase)
frase_r = frase.strip().lower()
print(frase_r)

Ingrese una frase:      ROPO
     ROPO
ropo

In [ ]:
frase=input('Ingrese una frase: ')
print(frase)
frase_r = frase.replace('e','f')
print(frase_r)

Ingrese una frase: elojo
elojo
flojo

In [ ]:
frase=input('Ingrese una frase: ')
print(frase)
frase_r = frase.replace('a',chr(64))
print(frase_r)

Ingrese una frase: pala
pala
p@l@

In [ ]:
frase=input('Ingrese una frase: ')
print(frase)
frase_r = frase.lower().replace('s',chr(36))
print(frase_r)

Ingrese una frase: SOSOs
SOSOs
$o$o$

# Estructuras condicionales

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
nota=(float(input('Ingrese la nota: ')))

if nota>=7:
  print('Aprobado')
else:
  print('Reprobado')

Ingrese la nota: 6
Reprobado

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
edad_maria=int(input('Ingrese la edad de Maria: '))
edad_pedro=int(input('Ingrese la edad de Pedro: '))

if edad_maria>edad_pedro:
  print('Maria es mayor que Pedro')

Ingrese la edad de Maria: 30
Ingrese la edad de Pedro: 15
Maria es mayor que Pedro

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota=float(input("Ingrese nota de estudiante"))
if nota >= 7:
  print(f"Aprobado con un {nota}")
else:
  print("Reprobado")

Ingrese nota de estudiante8
Aprobado con un 8.0

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota=float(input("Ingrese la nota: "))
if nota>7:
  print('Aprobado')
if 7> nota >=5:
    print ("Recuperacion ")
else:
      print ("Reprobo")

Ingrese la nota: 8
Aprobado
Reprobo

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota=float(input("Ingrese la nota: "))
if nota>=7:
  print('Aprobado')
elif 7> nota >=5:
    print ("Recuperacion ")
else:
      print ("Reprobo")

Ingrese la nota: 4
Reprobo

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v=True
f=False

In [ ]:
if f and f:
  print('Verdadero')
else:
  print('Falso')

Falso

In [ ]:
if v or v:
  print('Verdadero')
else:
  print('Falso')

Verdadero

In [ ]:
if not f:
  print('Verdadero')
else:
  print('Falso')

Verdadero

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente en la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
lista ='Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1='Miguel Castro'
nombre_2='Marcelo Noguera'
if nombre_2 in lista:
  print('El estudiante aprobo')
else:
  print('El estudiante reprobo')

El estudiante reprobo

In [ ]:
# Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

numero1=int(input('Ingrese el primer numero: '))
numero2=int(input('Ingrese el segundo numero: '))
if numero1>numero2:
  print(f'El numero mayor es {numero1}')
else:
  print(f'El numero mayor es {numero2}')

Ingrese el primer numero: 1
Ingrese el segundo numero: 2
El numero mayor es 2

In [ ]:
# 2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).
crecañoanterior=int(input('Ingrese el porcentaje de crecimiento del año anterior:'))
crecañoactual=int(input('Ingrese el porcentaje de crecimiento del año actual:'))
if crecañoanterior<crecañoactual:
  print('Hubo un aumento en el crecimiento')
elif crecañoanterior>crecañoactual:
  print('Hubo una disminucion en el crecimiento')
else:
  print('Se mantuvo la tasa de crecimiento')

Ingrese el porcentaje de crecimiento del año anterior:20
Ingrese el porcentaje de crecimiento del año actual:20
Se mantuvo la tasa de crecimiento

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

In [ ]:
letra=str(input('Ingrese una letra del abecedario:'))
if letra.lower() in 'aeiou':
  print('La letra es una vocal')
else:

  print('La letra es una consonante')

Ingrese una letra del abecedario:t
La letra es una consonante

In [ ]:
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de R$ {mayor}.')
print(f'El precio más bajo fue de R$ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 200
Ingrese el precio promedio del automóvil en el segundo año: 210
Ingrese el precio promedio del automóvil en el tercer año: 250
El precio más alto fue de R$ 250.0.
El precio más bajo fue de R$ 200.0.

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

In [ ]:
precio1=int(input('Ingrese el precio del primer producto: '))
precio2=int(input('Ingrese el precio del segundo producto: '))
precio3=int(input('Ingrese el precio del tercer producto: '))
barato=precio1
if barato>precio2:
  barato = precio2
if barato>precio3:
  barato = precio3
if barato == precio1:
  producto = str('el primer product')
if barato == precio2:
  producto = str('el segundo producto')
if barato == precio3:
  producto = str('el tercer producto')
print(f'El procucto mas barato es {producto}')

Ingrese el precio del primer producto: 100
Ingrese el precio del segundo producto: 200
Ingrese el precio del tercer producto: 90
El procucto mas barato es el tercer producto

In [ ]:
# Recolectamos el precio de tres productos
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if producto1 < producto2 and producto1 < producto3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 100
Ingrese el precio del segundo producto: 200
Ingrese el precio del tercer producto: 90
El tercer producto es el más barato.

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

In [ ]:
# Recolectamos el precio de tres productos
numero1 = float(input('Ingrese el primer numero: '))
numero2 = float(input('Ingrese el segundo numero: '))
numero3 = float(input('Ingrese el tercer numero: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if numero1 < numero2 and numero1 < numero3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 100
Ingrese el precio del segundo producto: 200
Ingrese el precio del tercer producto: 90
El tercer producto es el más barato.

In [ ]:
# Recolectamos los 3 números
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 3
Ingrese el segundo número: 5
Ingrese el tercer número: 1
5
3
1

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
lista[0]

'Penélope Camacho'

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2]=10.0
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [64]:
lista

[1, 2, 3]

In [ ]:
len (lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [68]:
lista[0:2]

[1, 2]

In [ ]:
lista[:]

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
lista[1:]

[9.5, 9.0, 9.7, True]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 9.0]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])
lista

['Penélope Camacho',
 9.5,
 9.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0],
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0,8.0,9.0])
lista

['Penélope Camacho',
 9.5,
 9.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [6]:
diccionario = {'llave_1':1,
              'llave_2':2}

In [7]:
diccionario

{'llave_1': 1, 'llave_2': 2}

In [8]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [4]:
estudiante = {
              'matricula': 2000168933,
              'dia_registro':25,
              'mes_registro' : 10,
              'grupo' : "2E"
            }

In [5]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [6]:
estudiante['grupo'] ='2G'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [7]:
estudiante['grupo'] ='2G'
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [8]:
estudiante ['modalidad'] = 'AED'

In [9]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'AED'}

In [10]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [12]:
estudiante.pop('grupo')

'2G'

In [13]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'AED'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [14]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'AED')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [15]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [16]:
estudiante.values()

dict_values([2000168933, 25, 10, 'AED'])

### Lectura de valores con el lazo `for`

In [19]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [22]:
for llave,valor in estudiante.items():
 print (llave,'-->',valor)

matricula --> 2000168933
dia_registro --> 25
mes_registro --> 10
modalidad --> AED

In [23]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [24]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

In [25]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

In [27]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [28]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [31]:
gastos =[2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

In [32]:
print(sum(gastos)/len(gastos))

3144.222

In [33]:
# Datos de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Calculamos el promedio encontrando el valor total de gastos con la función sum
# y la cantidad total de compras realizadas con len
total_gastos = sum(gastos)
cantidad_compras = len(gastos)
media_gastos = total_gastos / cantidad_compras
# Resultado
print(f'El promedio de gastos es {media_gastos} reales.')

El promedio de gastos es 3144.222 reales.

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [45]:
gastossobre3000 = 0
for gasto in gastos:
  if gasto>3000:
    gastossobre3000 += 1
porcentajesobre3000=100 * gastossobre3000/cantidad_compras
print(f'{gastossobre3000} compras estuvieron sobre los 3000 USD')
print(f'{porcentajesobre3000} % de los gastos estuvo sobre 3000 USD')

7 compras estuvieron sobre los 3000 USD
70.0 % de los gastos estuvo sobre 3000 USD

In [46]:
# Datos de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Variable que contará cuántas compras se realizaron por encima de 3000
contador_acima_3000 = 0
# Usamos un bucle para recorrer la lista de gastos
for gasto in gastos:
  # Verificamos si el elemento está por encima de 3000
  if gasto > 3000:
    # Sumamos uno al contador si hay algún valor por encima de 3000
    contador_acima_3000 += 1

# Con el conteo podemos calcular el porcentaje de valores por encima de 3000 entre todas las compras
porcentaje_acima_3000 = 100 * contador_acima_3000 / cantidad_compras

# Resultado
print(f'{contador_acima_3000} compras estuvieron por encima de R$3000,00.')
print(f'{porcentaje_acima_3000}% de los gastos estuvieron por encima de R$3000,00.')

7 compras estuvieron por encima de R$3000,00.
70.0% de los gastos estuvieron por encima de R$3000,00.

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [47]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
#Resultado
print(f'Lista de números ingresados: {lista_numeros}')

Ingresa un número entero: 1
Ingresa un número entero: 2
Ingresa un número entero: 6
Ingresa un número entero: 3
Ingresa un número entero: 7
Lista de números ingresados: [1, 2, 6, 3, 7]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado

In [51]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
# Usamos la técnica de partición para imprimir el resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Ingresa un número entero: 1
Ingresa un número entero: 2
Ingresa un número entero: 3
Ingresa un número entero: 4
Ingresa un número entero: 5
Lista de números invertida: [5, 4, 3, 2, 1]

In [72]:
lista_numeros[:]

[1, 2, 3, 4, 5]

In [57]:
lista_numeros[:-1]

[1, 2, 3, 4]

In [58]:
lista_numeros[:1]

[1]

In [59]:
lista_numeros[:3]

[1, 2, 3]

In [60]:
lista_numeros[-3]

3

In [61]:
lista_numeros[:-5]

[]

In [62]:
lista_numeros[:-1]

[1, 2, 3, 4]

In [75]:
lista_numeros[:-4
              ]

[1]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [7]:
# Recopilamos el número
numero = int(input('Ingresa un número entero: '))
# Lista para almacenar los números primos
lista_primos = []
# Bucle que recorre todos los números por debajo del número ingresado
for nume in range(2, numero):
  # Primo es una bandera que nos permite saber si el valor analizado es primo o no.
  primo = True
  # Probamos si todos los números por debajo del especificado en el primer bucle pueden dar una división exacta.
  for prueba_divisibles in range(2, nume):
    if nume % prueba_divisibles == 0:
      # Si es divisible por algún número, entendemos que el número no es primo y terminamos el bucle interno con break.
      primo = False
      break
  # La condición se convierte en el resultado booleano de primo: False. Ignoramos la condición True y ejecutamos el bloque del if.
  if primo:
    lista_primos.append(nume)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Ingresa un número entero: 15
Lista de números primos: [2, 3, 5, 7, 11, 13]

In [9]:
prueba_divisibles

2

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [10]:
# Lista de crecimiento de bacterias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que almacenará las tasas de crecimiento
porcentaje_crecimiento = []
# Recorremos los índices de 1 a 9 para comparar los valores actuales con los anteriores
for i in range(1, len(bacterias_colonia)):
  # Realizamos el cálculo: 100 * (muestra_actual - muestra_anterior) / (muestra_anterior)
  porcentaje = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # Agregamos el resultado a la lista porcentaje_crecimiento
  porcentaje_crecimiento.append(porcentaje)
# Resultado
print(f'Porcentajes de crecimiento:\n{porcentaje_crecimiento}')

Porcentajes de crecimiento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [13]:
# Lista que contendrá los valores de IDs
ids = []
# Variables contadoras de dulces y amargos
dulce = 0
amargo = 0

# Creamos un bucle que iterará 10 veces para recopilar los 10 IDs
for i in range(0,10):
  # Recopilamos el ID y lo agregamos a la lista
  ids.append(int(input(f'Ingrese el ID {i+1}°: ')))

# Leemos todos los elementos de la lista de IDs y los asignamos a id
for id in ids:
  # Verificamos si los elementos son pares o impares para llevar el conteo
  if id % 2 == 0:
    dulce += 1
  else:
    amargo += 1

# Resultado
print(f'Cantidad de productos dulces: {dulce}')
print(f'Cantidad de productos amargos: {amargo}')

Ingrese el ID 1°: 2
Ingrese el ID 2°: 4
Ingrese el ID 3°: 5
Ingrese el ID 4°: 6
Ingrese el ID 5°: 9
Ingrese el ID 6°: 0
Ingrese el ID 7°: 7
Ingrese el ID 8°: 9
Ingrese el ID 9°: 3
Ingrese el ID 10°: 2
Cantidad de productos dulces: 5
Cantidad de productos amargos: 5

In [16]:
# Inicializamos los datos
respuestas = []  # Lista para almacenar las respuestas
# Lista de respuestas correctas
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0  # Acumulará la nota total

# Recopilamos las respuestas del estudiante
for i in range(0, 10):
  respuestas.append(input(f'Introduzca la respuesta a la pregunta {i + 1}: ').upper())

# Verificamos si las respuestas coinciden y las sumamos a la nota
for i in range(0, 10):
  if respuestas[i] == gabarito[i]:
    nota += 1

# Mostrando la nota final
print(f'Nota final: {nota}')

Introduzca la respuesta a la pregunta 1: d
Introduzca la respuesta a la pregunta 2: a
Introduzca la respuesta a la pregunta 3: c
Introduzca la respuesta a la pregunta 4: b
Introduzca la respuesta a la pregunta 5: a
Introduzca la respuesta a la pregunta 6: c
Introduzca la respuesta a la pregunta 7: c
Introduzca la respuesta a la pregunta 8: a
Introduzca la respuesta a la pregunta 9: e
Introduzca la respuesta a la pregunta 10: b
Nota final: 7

In [18]:
# Recopilamos la lista de temperaturas mensuales
temperaturas_mensuales = []
for i in range(0, 12):
  temperaturas_mensuales.append(float(input(f'Ingrese la temperatura promedio del mes {i+1}: ')))
# Creamos una lista auxiliar para los nombres de los meses
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
# Calculamos el promedio
media_anual = sum(temperaturas_mensuales) / len(temperaturas_mensuales)

# Resultado
print('Temperaturas por encima del promedio en: ')
for i in range(0, 12):
  # Verificamos todas las temperaturas en comparación con la media anual
  if temperaturas_mensuales[i] > media_anual:
    # Dado que los índices de los meses corresponden a las temperaturas,
    # podemos imprimirlos con el mismo índice
    print(meses[i])

Ingrese la temperatura promedio del mes 1: 30
Ingrese la temperatura promedio del mes 2: 20
Ingrese la temperatura promedio del mes 3: 25
Ingrese la temperatura promedio del mes 4: 14
Ingrese la temperatura promedio del mes 5: 15
Ingrese la temperatura promedio del mes 6: 13
Ingrese la temperatura promedio del mes 7: 1
Ingrese la temperatura promedio del mes 8: 16
Ingrese la temperatura promedio del mes 9: 20
Ingrese la temperatura promedio del mes 10: 25
Ingrese la temperatura promedio del mes 11: 23
Ingrese la temperatura promedio del mes 12: 30
Temperaturas por encima del promedio en:
Enero
Febrero
Marzo
Septiembre
Octubre
Noviembre
Diciembre

In [19]:
# Diccionario de ventas
datos_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

# Inicializamos las variables
total_ventas = 0  # Sumará todas las ventas
producto_mas_vendido = ''  # Almacenará el nombre del producto más vendido
unidades_producto_mas_vendido = 0  # Almacenará la cantidad más alta de ventas

# Recorremos las claves y elementos del diccionario
for producto in datos_ventas.keys():
    # Sumamos el total de ventas
    total_ventas += datos_ventas[producto]
    # Verificamos si el valor de ventas actual (datos_ventas[producto]) es mayor que el valor almacenado en unidades_producto_mas_vendido
    # Cada vez que datos_ventas[producto] supere el valor en unidades_producto_mas_vendido,
    # la variable unidades_producto_mas_vendido será igual a datos_ventas[producto], asignando un nuevo valor
    # De manera similar, producto_mas_vendido también se actualiza con el producto actual
    if datos_ventas[producto] > unidades_producto_mas_vendido:
        unidades_producto_mas_vendido = datos_ventas[producto]
        producto_mas_vendido = producto
# Resultados
print(f'Total de ventas es {total_ventas}')
print(f'{producto_mas_vendido} es el más vendido')

Total de ventas es 920
Producto A es el más vendido

In [20]:
# Diccionario de votos por diseño
votos = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

# Inicializamos las variables
total_votos = 0  # Sumará todos los votos
ganador = ''  # Almacenará el nombre del diseño ganador
voto_ganador = 0  # Almacenará la cantidad ganadora de votos

# Recorremos las claves y elementos del diccionario
for diseño, voto_diseño in votos.items():
    # Sumamos el total de votos
    total_votos += voto_diseño
    # Verificamos si el voto del diseño actual (voto_diseño) es mayor que el valor almacenado en voto_ganador
    # Cada vez que voto_diseño supere el valor en voto_ganador,
    # la variable voto_ganador será igual a voto_diseño, asignando un nuevo valor
    # De manera similar, el ganador también se actualiza con el diseño actual
    if voto_diseño > voto_ganador:
        voto_ganador = voto_diseño
        ganador = diseño
# Calculamos el porcentaje del diseño ganador
porcentaje = 100 * (voto_ganador) / (total_votos)

# Resultado
print(f'{ganador} es el ganador: ')
print(f'Porcentaje de votos: {porcentaje}%')

Diseño 5 es el ganador:
Porcentaje de votos: 29.747043363994745%

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [21]:
# Lista de salarios
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos las variables
diccionario_abonos = {}  # Diccionario de abonos
total_abono = 0  # Sumará todos los gastos en abonos
abonos_minimo = 0  # Almacenará la cantidad de abonos mínimos
mayor_abono = 0  # Almacenará el mayor valor de abono

# Recorremos toda la lista de salarios
for salario in salarios:
    # Calculamos el valor teórico del abono
    abono = salario * 0.1
    # Si el abono es inferior a 200,
    # ajustamos el valor del abono al mínimo (200)
    if abono < 200:
        abono = 200
    # Agregamos un nuevo dato en el diccionario con la clave abono
    diccionario_abonos[salario] = abono

# Recorremos todos los valores del diccionario de abonos
for abono in diccionario_abonos.values():
    # Contamos los salarios mínimos
    if abono == 200:
        abonos_minimo += 1
    # Verificamos si el abono leído es mayor que el valor almacenado en mayor_abono
    # Cada vez que el abono supere el valor de mayor_abono,
    # la variable mayor_abono será igual al abono, asignando un nuevo valor
    if abono > mayor_abono:
        mayor_abono = abono
    # Sumamos los abonos
    total_abono += abono
# Resultados
print(f'Abonos: {diccionario_abonos}')
print(f'Total de gastos en abonos: {total_abono}')
print(f'Número de empleados que recibieron el abono mínimo: {abonos_minimo}')
print(f'Mayor valor de abono: {mayor_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gastos en abonos: 6087.8
Número de empleados que recibieron el abono mínimo: 2
Mayor valor de abono: 790.3000000000001

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

In [22]:
# Especificamos los datos para un diccionario
datos = {'Área Norte': [2819, 7236],
         'Área Este': [1440, 9492],
         'Área Sur': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
# Inicializamos las variables
suma_media = 0  # Sumará todos los promedios
mayor_diversidad = ''  # Almacenará el área con la mayor diversidad
mayor_suma = 0  # Almacenará la mayor suma de especies
# Recorremos las claves y elementos del diccionario
for área, especies in datos.items():
    # Sumamos el número de especies en cada área utilizando la función sum
    suma_especies = sum(especies)
    # Calculamos el promedio dividiendo la suma de las especies entre la cantidad de especies
    media = suma_especies / len(especies)
    # Imprimimos
    print(f'El {área} tiene un promedio de {media} especies')
    # Verificamos si la suma de especies es mayor que el valor almacenado de mayor_suma
    # Cada vez que suma_especies supere el valor de mayor_suma,
    # la variable mayor_suma será igual a suma_especies, asignando un nuevo valor
    # De manera similar, mayor_diversidad también se actualiza
    if suma_especies > mayor_suma:
        mayor_suma = suma_especies
        mayor_diversidad = área
    # Sumamos los promedios
    suma_media += media
# La media total será la suma_media dividida por la cantidad de áreas
media_total = suma_media / len(datos)
print(f'Media general de especies: {media_total}')
print(f'Área con la mayor diversidad biológica: {mayor_diversidad}')

El Área Norte tiene un promedio de 5027.5 especies
El Área Este tiene un promedio de 5466.0 especies
El Área Sur tiene un promedio de 6732.5 especies
El Área Oeste tiene un promedio de 32067.0 especies
El Área Centro tiene un promedio de 33853.0 especies
Media general de especies: 16629.2
Área con la mayor diversidad biológica: Área Centro

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [23]:
# Especificamos los datos para un diccionario
datos = {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Inicializamos la variable que sumará todas las edades
total_edades = 0
# Recorremos las claves y elementos del diccionario
for sector, edades in datos.items():
  # Calculamos el promedio dividiendo la suma de las edades entre la cantidad de empleados en cada sector
  media_edad = sum(edades) / len(edades)
  # Imprimimos
  print(f'El {sector} tiene un promedio de {media_edad}')
  # Sumamos los promedios
  total_edades += sum(edades)
# La media total será el total_edades dividido por la cantidad de personas totales (sectores * empleados por sector)
media_total = total_edades / (len(edades) * len(datos))
print(f'La media de edad general es {media_total}')

# Inicializamos la variable que contará a todas las personas con edades por encima de la media
arriba_media = 0
# Recorremos nuevamente las claves y elementos del diccionario
for sector, edades in datos.items():
  # Leemos los elementos (edades) dentro de cada lista de edades en el diccionario
  for edad in edades:
    # Verificamos si el valor de la edad es superior a la media total
    if edad > media_total:
      # En caso de que el valor de la edad sea superior a la media, incrementamos en uno el contador
      arriba_media += 1
# Resultado
print(f'{arriba_media} personas están por encima de la edad media general')

El Sector A tiene un promedio de 39.9
El Sector B tiene un promedio de 42.3
El Sector C tiene un promedio de 35.8
El Sector D tiene un promedio de 36.5
La media de edad general es 38.625
18 personas están por encima de la edad media general